.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  color: #fff;
  user-select: none;
  font-size: 2em; /* Change this for different size snowflakes */
  opacity: 0.7;
  animation-name: fall;
  animation-duration: 10s; /* Duration of falling */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Generates a random animation delay and random position for each snowflake */
.snowflake:nth-child(odd) {
  animation-delay: 0s;
  left: random(100%);
}

.snowflake:nth-child(even) {
  animation-delay: 5s;
  left: random(100%);
}

/* Keyframes for falling animation */
@keyframes fall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100vh);
  }
}
